@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
}


#root {
    color: blueviolet;
}

.blacklist {
    display: flex; /* Use flexbox to place checkboxes in a row */
    flex-wrap: wrap; /* Allow checkboxes to wrap to the next line if needed */
}

.flags {
    color: blueviolet ;
    margin-left: 10px;
    margin-right: 15px;
}